.title{
    text-align: center;
    margin: 20px 0px 10px 0px;
}

.wrapper{
    background-color: black;
    color: whitesmoke;
    margin: 30px 0 0 0;
}

.wrapper-contact{
    margin: 30px 0
}

.content-office div{
    font-size: 20px;
    margin: 10px 0 10px 0;
}

.social-media{
    height: 30px;
    width: 30px;
    border-radius: 10px;
    margin: 0 0 0 20px;
}

.location{
    height: 300px;
    width: 500px;
}

.copyright{
    background-color: black;
    color: whitesmoke;
    border-top: 0.5px solid gray;
    padding: 10px 0 10px 0;
    font-size: 15px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .location{
        height: 200px;
        width: 400px;
    }
  }
