.navigation{
    font-size: 25px;
}

.logo{
    border-radius: 100px;
    object-fit: cover;
}

.navigation-item{
    font-size: 20px;
    margin: 0 20px 0 20px;
}

@media only screen and (max-width: 600px) {
    .navigation{
        font-size: 18px;
    }
  }