.navigation{
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 3px;
}

.logo{
    margin-left: 20px;
    border-radius: 100px;
    object-fit: cover;
}

.navigation-item{
    font-size: 20px;
    margin: 0 20px 0 20px;
}

@media only screen and (max-width: 600px) {
    .navigation{
        font-size: 18px;
        margin-left: 10px;
    }

    .logo{
        border-radius: 100px;
        object-fit: cover;
        margin-left: 0px;
    }
  }