.wrapper-product{
    margin: 25px 0 25px 0;
}

.title-product{
    text-align: center;
}

.product-image{
    width: 50%;
    margin-left: 250px
}


@media only screen and (max-width: 600px) {
    .product-image{
        width: 80%;
        margin-left: 30px
    }
  }